h1= title
p This is the list of all Bernies awesome ties sorted by rating

div#link
	a(href="/") Home
div#link
	a(href="") Random Tie

ul
	li Engineer / MBA / Consultant with more than 10 years experience
	li Instructor for the SFU Summer in Innovation, representing the Beedie School of Buisness
	li World reknowned Tie enthusiast
