h1= title
img(src="images/maroney.jpg")
p Welcome to #{title}. A Site where you have a opportunity to vote on the many Ties of Bernie Maroney.

div#link
	a(href="") Tie List
div#link
	a(href="") Random Tie

h2= "About Bernie"
ul
	li Engineer / MBA / Consultant with more than 10 years experience
	li Instructor for the SFU Summer in Innovation, representing the Beedie School of Buisness
	li World reknowned Tie enthusiast