div#header
		h1= title

div#wrap


	div#portrait
		img(src="./bernies-ties/public/images/maroney.jpg")
	p Welcome to #{title}. 
	p A Site where you have a opportunity to vote on the many Ties of Bernie Maroney.

	div.link
		a#btn_all_ties(href="/all_ties") Visit Tie List


	h2= "About Bernie"
	<img src="http://farm5.staticflickr.com/4093/4743691751_535e378bcb.jpg" width="300"/>
	ul
		li Engineer / MBA / Consultant with more than 10 years experience
		li Instructor for the SFU Summer in Innovation, representing the Beedie School of Buisness
		li World reknowned Tie enthusiast