div#header
	h1
		span#logo
			img(src="images/logo.png")
		= title
		span#logo
			img(src="images/logo.png")
			
div#all_ties_info
	p Upload an image of a tie to add it to the site
	
div#wrap
	div.link
		a#btn_all_ties(href="/all_ties") Return to List
	
div#footer
	p Semester in Innovation - 2012